@import url(https://fonts.googleapis.com/css?family=Courgette);

body {
	position: relative;
}

header {
	padding: 14px 0 0 50px;
	height: 38px;
	background-color: #272822;
}

a {
	color: #2678A7;
}

a:hover {
	text-decoration: underline;
}

.header-quiz {
	padding: 5px 0 0 50px;
	height: 47px;
	background-color: #272822;
}

span.logo-wrap {

	color: #fff;
	font-family: 'Courgette', cursive;
	font-size: 30px;
}

span.logo-wrap-quiz {

	color: #fff;
	font-family: 'Courgette', cursive;
	font-size: 30px;
}

.welcome-message {
	width: inherit;
	margin: 30px auto;
	text-align: center;
	font-size: 3em;
}
.first-block {
	width: 15%;
}

.right-block, .mid-block, .left-block {
	border-radius: 3px;
	position: relative;
	height: 200px;
	background-color: #323232;
	margin: 30px 70px 0 0;
}

.block-icon {
	position: absolute;
	font-size: 6em;
	color: #fff;
	left: 33%;
    top: 50px;
}

.block-title {
	position: absolute;
	font-size: 2em;
	color: #fff;
	font-size: 1.4em;
    max-width: 270px;
    letter-spacing: -.5px;
    line-height: 1.2em;
    font-weight: 700;
    left: 33%;
    top: 160px;
}

.block-icon:hover, .block-title:hover {
	cursor: pointer;
}


.details-overlay {
	width: 70%;
	height: 50%;
	background-color: #323232;
	position: absolute;
	opacity: 1;
	z-index: 2;
	top: 100px;
	left: 200px;
	border-radius: 20px;
	border: 9px solid #272822;
}

.details-underlay {
	width: 100%;
	height: 110%;
	background-color: #000;
	position: absolute;
	margin-top:-200px;
	opacity: 0.5;
}

.answer-status {
	font-size: 8em;
	position: absolute;
	top: 100;
	right: 400;
	font-family: 'Courgette', cursive;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #777;
}

img.result-status {
	position: absolute;
	width:150px;
	height:150px;
	top: 100px;
	right: 200px;
	opacity: 0.9
}

.form-wrap {
	width: 60%;
	height: 60%;
	margin: 0 auto;
}

.answer-btn1, .answer-btn2, .answer-btn3, .answer-btn4 {
	margin: 20px 0 ;
	width: 200px;
}

@media only screen and (min-width: 1287px) {
    .answer-btn4, .answer-btn2 {
	float:right;
	margin-right:10%;
    }

    .answer-btn1, .answer-btn3 {
	float: left;
	margin-left:10%;
    }

    .answer-btn4, .answer-btn2 {
	float:right;
	margin-right:10%;
    }

    .answer-btn1, .answer-btn3 {
	float: left;
	margin-left:10%;
    }

    .score {
        padding: 0 0 0 160px;
    }
}

@media only screen and (max-width: 1287px) {
   .answer-btn4, .answer-btn2 {
	float:right;
	margin-right:5%;
}

.answer-btn1, .answer-btn3 {
	float: left;
	margin-left:5%;
}

.answer-btn4, .answer-btn2 {
	float:right;
	margin-right:5%;
}

.answer-btn1, .answer-btn3 {
	float: left;
	margin-left:5%;
}

.answer-status {
	font-size: 8em;
	position: absolute;
	top: 150;
	right: 300;
	font-family: 'Courgette', cursive;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #777;
}

img.result-status {
	position: absolute;
	width:150px;
	height:150px;
	top: 150px;
	right: 100px;
}
.score {
    padding: 0 0 0 100px
}
}

.answer-btn1, .answer-btn2, .answer-btn3, .answer-btn4, .home-btn{
	font-family:arial, helvetica, sans-serif; 
	font-size: 1.4em;
	height: 50px;
	width: 300px;
	border-radius: 7px;
	background-color: #3093C7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1C5A85));
 background-image: -webkit-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -moz-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -ms-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -o-linear-gradient(top, #3093C7, #1C5A85);
 background-image: linear-gradient(to bottom, #3093C7, #1C5A85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1C5A85);
 box-shadow: #878787 0px 2px 2px
}


.answer-btn1:hover, .answer-btn2:hover, .answer-btn3:hover, .answer-btn4:hover, .home-btn:hover {

	background-color: #3093C7; background-image: -webkit-gradient(linear, left top, left bottom, from(#1C5A85), to(#3093C7));
 background-image: -webkit-linear-gradient(top,#1C5A85 , #3093C7);
 background-image: -moz-linear-gradient(top,#1C5A85 , #3093C7);
 background-image: -ms-linear-gradient(top,#1C5A85 , #3093C7);
 background-image: -o-linear-gradient(top,#1C5A85 , #3093C7);
 background-image: linear-gradient(to bottom,#1C5A85,  #3093C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1C5A85, endColorstr=#3093C7);
 box-shadow: #878787 0px 2px 2px
}

.home-btn {
    font-size: 1em;
    margin-top: 100px;
}
.btn-wrap {
	width: inherit; 
	height: 10px;
	margin:0 auto;
}

.question-wrap {
	border-radius: 8px;
	padding:40px 10% 0 10%;
	text-align: center;
	height: 100px;
	width: inherit;
	background-color: #323232;
	font-size: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ddd;
	box-shadow: #878787 0px 2px 2px;
	margin: 0 auto;
}

.feedback {
	width:40%;
	height: 80px;
	background-color: #323232;
	margin: 10px auto 10px auto;
	border-radius: 10px;
    font-size: 3em;
    font-weight: bold;
    color: #2980B1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0F374E;
    font-family: 'Source Sans Pro',sans-serif;
    padding: 20px 0 0 0;
    text-align: center;
    box-shadow: #878787 0px 2px 2px;
    padding-left: 50px;
}

.footer {
	height: 80px;
	width: 100%;
	background-color: #272822;
}

.copy-right {
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 15px;
	width: 300px;
	color: #E2E1E7;
	padding: 15px 0 0 40px;
    float: left;
}

.made-by {
    clear: both;
	padding: 0 0 0 70px;
	font-size: 0.8em;
	font-family: 'Source Sans Pro',sans-serif;
	color: #75715E;
    width:250px;
    float: left;
}

.soc-list {
    width: 150px;
}

.socs a {
    color: #515151;
}

.socs a:hover {
     color: #cdcdcd;
 }

.socsq a {
    color: #515151;
}

.socsq a:hover {
     color: #cdcdcd;
 }

.socs {
    float: right;
	color: #515151;
	width: 200px;
	height: 30px;
}

.socs li {
    padding-right:10px;
	list-style: none;
    display: inline;
    font-size: 2em;
}

.socsq {
    float:right;
    height: 29px;
}
.socsq li{
    padding-right:10px;
    list-style: none;
    display: inline;
    font-size: 2em;
    margin:0;
}

.soc-listq {
    width: 200px;
    margin:0;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-wrap {
    flex: 1;
}

.total-feedback {
    /*padding: 0;*/
    /*padding: 100px 0 100px 0;*/
}

.home-link {
    font-size: 1.3em;
    width:100px;
    position: absolute;
    top: -15px;
    left: -10px;
    padding: 0 0 0 30px;
    margin: 30px 0 0 0;
    color: #aaa;
}

.home-link:hover {
    color:#2678A7;
}

.left-carrot {
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    /*-webkit-text-stroke-color: #777;*/
}
@media only screen and (max-width: 1287px) {
    img.result-status {
        position: absolute;
        width:150px;
        height:150px;
        top: 100px;
        right: 100px;
    }

    .answer-status {
        font-size: 8em;
        position: absolute;
        top: 100;
        right: 300;
        font-family: 'Courgette', cursive;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #777;
    }
}

button {
    outline: none;
}









